body
  padding 40px

a
  cursor pointer

///////////////////////
// costomize login form
///////////////////////
#login-dropdown-list {
  right: -1px;
  left: auto;
}

#login-buttons .login-close-text {
  float: right;
}
